version: '3.8'
services:
mongo:
image: mongo:6
container_name: mongo
ports:
- "27017:27017"
volumes:
- mongo-data:/data/db
ml-service:
build: ./ml-service
container_name: ml-service
ports:
- "5000:5000"
environment:
- PORT=5000
depends_on:
- mongo
backend:
build: ./backend
container_name: mediqr-backend
ports:
- "4000:4000"
environment:
- MONGO_URL=mongodb://mongo:27017/mediqr
- ML_URL=http://ml-service:5000
depends_on:
- mongo
- ml-service
frontend:
build: ./frontend
container_name: mediqr-frontend
ports:
- "3000:80"
environment:
- REACT_APP_API_URL=http://localhost:4000/api
depends_on:
- backend


volumes:
mongo-data: